.title{
    font-size: 25px;
    direction: rtl;
    text-align: center;
    margin: 20px 30px;
}


.subtitle{
    font-size: 15px;
    direction: rtl;
    text-align: center;
    font-weight: bold ;
}

.background{
  background-color: #F0F0F0;
}

.describtion{
    font-size: 15px;
    direction: rtl;
    text-align: center;
    margin-top: 15px;

}

.eventlist{
  margin-top: 17px;
  margin-bottom: 5px;
}
