.title{
    font-size: 25px;
    direction: rtl;
    text-align: center;
<<<<<<< HEAD
    margin-left: 75px;
=======
    margin-top: -80px;
    font-weight: bold ;
>>>>>>> abb1d3c96fe98371103aa98d94ff662601371756
}

.subtitle{
    font-size: 15px;
    direction: rtl;
    text-align: center;
    font-weight: bold ;
}

.background{
  background-color: #F0F0F0;
}

.describtion{
    font-size: 15px;
    direction: rtl;
    text-align: center;
    margin-top: 15px;

}
