.title{
    font-size: 25px;
    direction: rtl;
    text-align: center;
    margin-left: 75px;
}

.subtitle{
    font-size: 15px;
    direction: rtl;
    text-align: center;
    font-weight: bold ;
}

.background{
  background-color: #F0F0F0;
}

.describtion{
    font-size: 15px;
    direction: rtl;
    text-align: center;
    margin-top: 15px;

}
