.events-page{
    background-color: rgba(243, 232, 232, 0.856);
    .last-event-label{
    font-size: 29px;
    direction: rtl;
    text-align: center;
    font-style: bold;
    margin-top:10%;
}
}

.slider{
  margin-top: 35px;
}
