@import 'theme/utils';

.detail-container{
    direction:rtl;
    margin-top: 10%;



    .icon-img{
        width:20px;
        height:20px;

    }
    .detail-row{
        display: flex;
        flex-direction: row;
        margin-right: 5%;

    }
    .lbl-detail{
        margin-right:5%;
    }
    .a-detail{
        color: gray;
        text-decoration: underline;
        cursor: auto;
        margin-right:5%;

    }
    .detail-container-text{
        margin:2% 5% 0 0 ;
    }
    .detail-container-note{
        margin:2% 2% 10% 2%;
        background-color: white;

        .detail-container-paraghraph{
            font-size: 15px;
            font-weight: bold;
            max-width:75% ;
            margin-right:5%;
        }
    }
}