@import 'theme/utils';

$icon_widht:25px;
$icon_height:25px;


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:55px;
    position: relative;
    border-bottom:1px solid black;

    .navbar-left-icons{
        display: flex;


        .icon {
            &:nth-child(2){
                margin-left: 10px;
            }

            width:$icon_widht;
            height:$icon_height;
        }

    }

    .logo {
        flex-grow: 1;
        max-width: 40%;
        margin-left:30px;
        margin-right:90px;
    }

    .burger-menu-container{
        position: absolute;
        bottom: -46px;
        right: 10px;

        .burger-menu {
            position: relative;
            .burger-icon{
                position: absolute;
                transform: translateX(-50%) scale(1,1.5);
                left:50%;
                bottom: 32px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .line {
                    width: 18px;
                    height: 1.1px;
                    background-color: black;
                    margin-top: 3px;
                }
            }


            .mushroom {
                width:70px;
                height: 70px;

            }
        }
    }
}
