.list{
  text-align: center;

}

.parent{
  background-color: white;
  margin-top: 10px;
  padding:10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
<<<<<<< HEAD
  margin:10px 5px 0px 5px;
=======
>>>>>>> abb1d3c96fe98371103aa98d94ff662601371756
}

.title{
  margin-top: 30px;
  margin-left: 100px;
  font-size: 25px;
}

.city{
<<<<<<< HEAD
margin: 5px 5px;
=======

>>>>>>> abb1d3c96fe98371103aa98d94ff662601371756
}
