@import 'theme/utils';

.main-img{
width: 100%;
}
.main-img-title{
    position: absolute;
    max-height: 45px;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    min-width: 70%;
    font-size: 1em;
.main-title{
    font-weight: bold;
    text-align: center;
}
.sub-title{
    text-align: center;


}
}
