@import 'theme/utils';

.top-banner{
    height: 20vh;
}

.ticket-page{
    background-color: rgba(243, 232, 232, 0.856);
    .ticket-detail{
        direction:rtl;
        font-size: 20px;
        margin-right:10%;
    }
}
