@import 'theme/utils';

.gallery {
  position: relative;
  max-width: 800px;
  padding: 50px 5px 0px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;

}

.gallery2 {
  font-size: 20px;

}

  .gallery_scroller {
    /* snap mandatory on horizontal axis  */
    scroll-snap-type: x mandatory;
  overflow-x: scroll;
    overflow-y: hidden;

    display: flex;


    transition: 0.5s all;

    align-items: center;
    min-height: 30vh;

    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
  }


.gallery_scroller div {
  /* snap align center  */
  scroll-snap-align: center;
  margin: 10px;
min-width: 70vw;


  height: 30vh;


  position: relative;
}
.gallery_scroller img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.kira {
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    color:white;
    text-align: right;
    font-family: sans-serif;
    font-size: 14px;




.kira2 {
    font-weight: bold;
    font-size: 16px;
}
}

.icon {
border-radius: 50%;
min-width: 15vw;
background-color: azure;
top: 70%;
left: 5.5%;
z-index:1;
position: absolute;
padding: 10px;
    }
