@import 'theme/utils';
.banner{
// max-height:px;
height: 300px;

.main-img{
max-width: 100%;
}
.main-img-title{
    text-align: right;
    padding-bottom: 20%;
    transform: translate(-10%, -50%);
    color:white;
    
.main-title{
    font-weight: bold;
    
    
}
.sub-title{
    font-size: 25px;

}
}
}
