.parent{
    background-color: white;
    margin-top: 10px;
    padding:10px 3px 10px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin:10px 5px 0px 5px;
    }
    
    
    .city{
    margin: 5px 5px;
    }