%input-default {
    appearance: none;
    display: block;
    width: 100%;
    height: 42px;
    max-height: 100%;
    padding: 0 10px;
    margin: 0;
	background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 1em;
    line-height: normal;
    transition: border-color 200ms linear;

    &:focus {
        border-color: #222288;
    }

    &:disabled,
    &:read-only {
		border-color: #666666;
        background-color: #999999;
        cursor: default;
    }
}
